html
   head
      title Signup
   body
      h4 #{message}
         form(action = "/authentication/signup" method = "POST")
            input(name = "userName" type = "text" required placeholder = "User ID")
            input(name = "password" type = "password" required placeholder = "Password")
            button(type = "submit") Sign me up!